
{{ define "create" }}

{{ template "header" }}

{{ template "topMenu" }}

  <main class="px-3">
    <h1>Create Article</h1>
    <form action="/save_article" method="POST">
      <input type="text" name="title" id="title" placeholder="Enter article title" class="form-control"><br>
      <textarea name="announcement" id="announcement" class="form-control" placeholder="Enter an article announcement"></textarea><br>
      <textarea name="full_text" id="full_text" class="form-control" placeholder="Article" cols="20" rows="5"></textarea><br>
      <button class="btn btn-warning">Create</button>
    </form>
  </main>

{{ template "footer" }}
{{ end }}

